html {
    background: #3b3e47;
    color: #dcdee3;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    font-size: 1.5em;
}

