<!DOCTYPE html>
<title>QuickRoll</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<html>
    <body class='c-container'>
        <div id='overlay-lightbox' class='lightbox'>
            <div id='overlay' class='modal'>
                <h1>Options <button onclick="off()">Close</button></h1>
                <h2>Crit Rules</h2>
                <form method="post">
                    <label>
                        <input type="radio" id="rolltwice" name="crit_rule" value="rolltwice">
                        Double the dice rolled.
                    </label><br>
                    <label>
                        <input type="radio" id="addmaxdice" name="crit_rule" value="addmaxdice">
                        Roll the dice normally, and then add the maximum dice roll.
                    </label><br>
                    <label>
                        <input type="radio" id="doubledice" name="crit_rule" value="doubledice">
                        Roll the dice normally, and then double them.
                    </label><br>
                    <input class='input' type='submit' name='save' value='save'>

                </form>
            </div>
        </div>      
        <script>
            function on() {
                document.getElementById("overlay-lightbox").style.display = "block";
                document.getElementById("overlay").style.display = "block";
            }
            
            function off() {
                document.getElementById("overlay-lightbox").style.display = "none";
                document.getElementById("overlay").style.display = "none";
            } 
        </script>


        <h1>Quick Roll</h1>
        <button onclick="on()">Options</button>
        <form method="post">
            <input class='input input-text' type="text" name="command" id="command" autofocus>
            <input class='input input-text' type="text" name="times" id="times" style="width:30px;" title="number of times to execute command">
            <input class='input' type="submit" name="go" value=">">
        </form>
        <section class='h-container'>
            {% for call in session['last'] %}
                <section class='h-container flex-child' style='border:none; margin:10px; max-width:30%'>
                        {% for roll in call %}
                            {% if roll['is_roll'] %}
                                <div class='flex-child tooltip' style='margin:-1px; margin-bottom:0px;'>
                                    {% for image in roll['images'] %}
                                        <img src={{ image }} height=60px>
                                    {% endfor %}
                                    <p>{{ roll['total'] }} <span style='font-size: .75em'>{{ roll['label'] }}</span></p>
                                    <span class='tooltiptext'>{{ roll['str'] }}</span>
                                </div>
                            {% endif %} 
                        {% endfor %}
                </section>
            {% endfor %}
        </section>
            <section class='h-container'>
                <div class='flex-child aliases'>
                    <form method=post enctype=multipart/form-data style="padding:5px;">
                        <label class=h2>Aliases</label>
                        <input class=input-file type=file name=import_file id=import_file>
                        <label class=input for=import_file>Import</label>
                    </form>
                    <div>
                        {% for alias in session['aliases'] %}
                            <p>{{alias}}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class='flex-child log'>
                    <form method="post">
                        <label class=h2>Log</label>
                        <input class=input type="submit" name="clear" value="Clear">
                    </form>
                    <div class='inner-log'>
                        {% for roll in session['log'] %}
                            <p>{{ roll }}</p>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </section>
    </body>
</html>