html, body {
    min-height: 100%;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    background: #353741;
    color: #dcdee3;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    text-align: center;
}

body {
    position: relative;
}

.panel {
    background: #2a2c31;
    border: 1px #6b6c75 solid;
    padding: 0.7em;
    margin: 1em;
}

.h-container {
    margin: auto;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-child {
    flex: 0 0 fit-content;
}

.aliases {
    flex: 0 0 200px;
}

.log {
    text-align: left;
    flex: 1 1;
    overflow-y: hidden;
}

.inner-log {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-flow: column-reverse;
    overflow-y: auto;
    height: 400px;
    max-height: 400px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: max-content;
    max-width: 200px;
    padding: 5px;
    background-color: #16171b;
    color: #fff;
    text-align: center;
    font-size: 0.75em;
    position: absolute;
    transform: translateX(-50%);
    margin-top: 18px;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: ' ';
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

h1, h2, h3, p, .h2 {
    padding: 0.2em;
    line-height: 1;
    margin: 0;
}

h1 {
    text-transform: uppercase;
    font-size: 1.5em;
}

h2, .h2 {
    font-size: 1.2em;
    font-weight: bold;
}

h3 {
    font-size: 1em;
    font-weight: bold;
}

.input, .input-text {
    color: #dcdee3;
    font-size: 0.8em;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    padding: .5em;
    margin: 1px;
    cursor: pointer;
}

.input-text {
    width: 80%;
    max-width: 50em;
    cursor: text;
}

.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-file:focus+.input {
    border: 1px #dcdee3 solid;
}

img {
    padding: 5px;
}